{% extends 'inventory/base.html' %}
        {% block content %}
            {% for vendor in vendors %}
                <div class="post">
                    <div class="date">
                        <p>Опубликовано: {{ vendor.published_date }}</p>
                    </div>
                    <h1><a href="{% url 'vendor_detail' pk=vendor.pk %}">{{ vendor.name }}</a></h1>
                    <p>{{ vendor.country|linebreaksbr }}</p>
                </div>
            {% endfor %}
        {% endblock %}